typing
alembic
fastapi[all]
fastapi-users[sqlalchemy]
psycopg2-binary
python-dotenv
sqlalchemy==2.0.29
uvicorn
pydantic
asyncpg==0.28.0
fastapi-mail==1.2.5
outline-vpn-api
yookassa==3.0.0
sentry-sdk[fastapi]
