typing
alembic
python-dotenv
uvicorn
pydantic
asyncpg==0.28.0
asyncio==3.4.3
psycopg2-binary
aiopg
sqlalchemy[asyncio]==2.0.29
sqlalchemy==2.0.29
pyyaml
httpx-oauth
aiogram==3.4.1
python-dateutil
outline-vpn-api
emoji-country-flag==2.0.1
yookassa==3.0.0
sentry-sdk